<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ pathToWeb }}{{ asset('materialize/css/materialize.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ pathToWeb }}{{ asset('shoptastic/css/shoptastic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
{% set first_time = true %}
{% set display = false %}
{% set quantity = 0 %}
{% set key = 0 %}

<div class="container">
    <div class="row">
        <div class="col s3">
            Foodtastic<br />
            42 avenue Symfony<br />
            37000 Tours<br />
            clement.delort@supinfo.com<br />
        </div>
    </div>
    <div class="row">
        <div class="col offset-s6 s4">
            A l'attention de {{ app.user.fullname }}<br />
            {{ app.user.address }}<br />
            {{ app.user.email }}<br />
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            Date : {{ 'now'|date('m/d/Y') }}<br />
            <br />
            Facture N° {{ facNb }} :
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table class="centered striped">
                <thead>
                <tr>
                    <td colspan="2">
                        Produit
                    </td>
                    <td>
                        Prix HT
                    </td>
                    <td>
                        Prix TTC
                    </td>
                    <td>
                        Quantité
                    </td>
                    <td>
                        Prix total TTC
                    </td>
                </tr>
                </thead>
                <tbody>

                {% for product in cart %}
                    {% if first_time %}
                        {% set first_time = false %}
                        {% set quantity = 1 %}
                    {% endif %}
                    {% if not loop.last %}
                        {% if product.id == cart[(loop.index0 + 1)].id %}
                            {% set quantity = quantity + 1 %}
                        {% else %}
                            {% set first_time = true %}
                            {% set display = true %}
                            {% set key = loop.index0 %}
                        {% endif %}
                    {% else %}
                        {% set display = true %}
                        {% set key = loop.index0 %}
                    {% endif %}
                    {% if display %}
                        {% set display = false %}
                        <tr>
                            <td>
                                <img src="{{ pathToWeb }}{{ vich_uploader_asset(cart[key], 'imageFile')}}" width="50px" height="50px" alt="{{ cart[key].name }}" />
                            </td>
                            <td>{{ cart[key].name }}</td>
                            <td>{{ cart[key].price|round(2, 'ceil') }} €</td>
                            <td>{{ (cart[key].price * 1.20)|round(2, 'ceil') }} €</td>
                            <td>{{quantity}}</td>
                            <td>{{(quantity * (cart[key].price * 1.20))}} €</td>
                        </tr>
                        {% set quantity = 0 %}
                    {% endif %}
                {% endfor %}
                    {% set total = 0 %}

                    {% for product in cart %}

                        {% set total = total + (product.price * 1.20) %}

                    {% endfor %}
                    <tr>
                        <td>
                            Total
                        </td>
                        <td colspan="3"></td>
			<td> TVA 20%</td>
                        <td>
                            {{ total|round(2, 'ceil') }} €
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
