<div class="right col offset-s9 s2">
    {% set total = 0 %}

    {% for product in cart %}

        {% set total = total + (product.price * 1.20) %}

    {% endfor %}

    total : <br />
    {{ total|round(2, 'ceil') }} €

    <br />
    <br />
    <a class="navbar" href="{{ path('cart_buy') }}">
        Passer commande
        <i class="small material-icons left">shopping_basket</i>
    </a>
    <br/>
    <br/>
    <a class="navbar" href="{{ path('shoptastic') }}">
        Continuer ses achats
        <i class="small material-icons left">cached</i>
    </a>
</div>