{% extends 'shoptastic.html.twig' %}

{% block title %}{{ parent() }} - Mon Panier{% endblock %}

{% block shoptastic %}

    {% set first_time = true %}
    {% set display = false %}
    {% set quantity = 0 %}
    {% set key = 0 %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <table class="striped highlight">
                    <thead>
                    <td colspan="2" class="center-align">
                        Produit
                    </td>
                    <td>
                        Prix HT
                    </td>
                    <td>
                        Prix TTC
                    </td>
                    <td>
                        Quantité
                    </td>
                    </thead>
                    <tbody>

                    {% for product in cart %}
                        {% if first_time %}
                            {% set first_time = false %}
                            {% set quantity = 1 %}
                        {% endif %}
                        {% if not loop.last %}
                            {% if product.id == cart[(loop.index0 + 1)].id %}
                                {% set quantity = quantity + 1 %}
                            {% else %}
                                {% set first_time = true %}
                                {% set display = true %}
                                {% set key = loop.index0 %}
                            {% endif %}
                        {% else %}
                            {% set display = true %}
                            {% set key = loop.index0 %}
                        {% endif %}
                        {% if display %}
                            {% set display = false %}
                            <tr>
                                <td>
                                    <a href="{{ path('product_show', {'id': cart[key].id}) }}">
                                        <img src="{{ vich_uploader_asset(cart[key], 'imageFile')}}" width="50px" height="50px" alt="{{ cart[key].name }}" />
                                    </a>
                                </td>
                                <td><a href="{{ path('product_show', {'id': cart[key].id}) }}">{{ cart[key].name }}</a></td>
                                <td>{{ cart[key].price|round(2, 'ceil')  }} €</td>
                                <td>{{ (cart[key].price * 1.20)|round(2, 'ceil')  }} €</td>
                                <td>
                                    <div>
                                        <a href="{{ path('cart_add', {'id_product': cart[key].id}) }}" class="waves-effect waves-light btn-small quantity-btn"><i class="material-icons">add</i></a>
                                        {{quantity}}
                                        <a href="{{ path('cart_delete', {'id_product': cart[key].id}) }}" class="waves-effect waves-light btn-small quantity-btn"><i class="material-icons">remove</i></a>
                                    </div>
                                </td>
                            </tr>
                            {% set quantity = 0 %}
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="center-align">
                                    Votre panier est vide
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'cart/right_bar.html.twig' with {'cart': cart } %}
    </div>
{% endblock %}
