{% extends 'shoptastic.html.twig' %}

{% block title %}{{ parent() }} - Connection{% endblock %}


{% block shoptastic %}
<div class="row">
    <div class="col s4 offset-s4 z-depth-4 card-panel">
        <div class="row">
            <br>
            <form action="{{ path('app_login') }}" method="post">
                <div class="row">
                    <div class="col s6 offset-s3">
                        <p class="center">Veuillez-vous identifier</p>
                    </div>
                </div>

                {% for label, messages in app.session.flashBag %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% if error %}
                    <div class="row">
                        <div class="col s4 offset-s4 red z-depth-4 card-panel">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="checkbox mb-3">Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a></div>
                {% endif %}

                <div class="row margin">
                    <div class="input-field col s10 offset-s1">
                        <i class="mdi-social-person-outline prefix"></i>
                        <label class="center-align sr-only" for="username">Nom d'utilisateur</label>
                        <input type='text' value="{{ last_username }}" name="username" id="username" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
                    </div>
                </div>

                <div class="row margin">
                    <div class="input-field col s10 offset-s1">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <label class="center-align sr-only" for="password" >Mot de Passe</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Mot de Passe" required>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="row margin">
                    <div class="input-field col s10 offset-s1">
                        <p>
                            <label for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" />
                                <span>Se souvenir de moi</span>
                            </label>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4 offset-s4">
                        <p><input class="btn waves-effect waves-light col s12 blue darken-1" type="submit" value="Se connecter"></p>
                    </div>
                </div>
            </form>

        </div>
        <div class="row">
            <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a href="{{ path('app_register') }}">S'inscrire</a></p>
            </div>

            <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small"><a href="#">Mot de Passe oublié ?</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
