{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
    <script type="text/javascript" src="{{ asset('shoptastic/js/loader.min.js') }}"></script>

    <div id="nbUsers" class="center"></div>
    <br />
    <div id="PSLW" class="center"></div>
    <br />
    <div class="row">
        <div id="PSBT" class="col s6"></div>
        <div id="PSBP" class="col s6"></div>
    </div>
    <script type="text/javascript">
        {{ gc_draw([nbUsers, nbProductSoldLastWeek, nbProductSoldByType, nbProductSoldByProducer], ['nbUsers', 'PSLW', 'PSBT', 'PSBP']) }}
     </script>
{% endblock %}
