body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.body-color {
    background-color: #f3e7e3 !important;
}

.primary-color {
    background-color: #107ac3 !important;
}

.primary-color-alpha {
    background-color: #107ac3 !important;
}

.secondary-color {
    background-color: #1b9231 !important;
}

.ternary-color {
    background-color: #92311b !important;
}

.f-border {
    border-width: 1px;
    border-style:solid;
    border-color: white;
}

.quantity-btn {
    width: 64px !important;
    height: 32px !important;
    margin: 0px 10px;

}

table tr td a {
    display:block;
    height:100%;
    width:100%;
    color: black;
}

.logo-size {
    height: 100%;
}

.search-bar {
    margin-top:20px;
}

.gravatar-image {
    width: 200px !important;
    height: 200px;
}

div.gravatar-image {
    margin-right: auto;
    margin-left: auto;
}

/* visited link */
a:visited:not(.brand-logo):not(.navbar) {
    color: blue;
}

/* mouse over link */
a:hover:not(.brand-logo):not(.navbar) {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
}
