<div class="footer-copyright primary-color-alpha">
	<div class="container">
		<i class="tiny material-icons">copyright</i> MIT RootKit {{ 'now'|date('Y') }} - {{ 'now'|date_modify("+1 year")|date('Y') }}<br />
		<i class="tiny material-icons">copyright</i> MIT ToutPareil Corp {{ 'now'|date('Y') }} - {{ 'now'|date_modify("+1 year")|date('Y') }}
	</div>
	<div class="container">
		Foodtastic V{{ version }}
	</div>
</div>