{% extends 'shoptastic.html.twig' %}

{% block shoptastic %}
	<div class="row">

		<div class="col s2">
			{% if cats is defined %}
				{% include 'shoptastic/left_bar.html.twig'
					with {
					'cats': cats,
					'catChecked': catChecked,
					'producerChecked': producerChecked,
					'cumul': cumul
				}
				%}
			{% endif %}
		</div>

		<div class="col s8">
			<div class="row">
				<p class="offset-s3">
					Bonjour
					{% if app.user %}
						{{ app.user.username }}
					{% else %}
						Anonyme
					{% endif %}
				</p>
			</div>
			<div class="col s12">
				Bienvenue sur Shoptastic
			</div>
			<div class="col s12">
				{% if pagination is not empty %}
					{% include 'product/index.html.twig' with {'pagination': pagination } %}
				{% else %}
					{% set optCat = 0 %}
					{% set optProd = 0 %}

					{% for item in catChecked %}
						{% if item == "on" and optCat == 0 %}
							{% set optCat = 1 %}
						{% endif %}
					{% endfor %}

					{% for item in producerChecked %}
						{% if item == "on" and optProd == 0 %}
							{% set optProd = 1 %}
						{% endif %}
					{% endfor %}

					{% if optCat == 0 and optCity == 0 and optProd == 0 %}
						{{ render(controller('App\\Controller\\ProductController::index')) }}
					{% else %}
						{% include 'product/index.html.twig' %}
					{% endif %}
				{% endif %}

			</div>

		</div>

		<div class="col s2">
			{% include 'shoptastic/right_bar.html.twig' with {'cart': cart } %}
		</div>
	</div>
{% endblock %}