<div class="card-panel">
    Filtres :
    {% if cumul is defined and cumul == "on" %}
        {% set check = "checked=checked" %}
    {% else %}
        {% set check = "" %}
    {% endif %}
    <form action="{{ path('leftsearch') }}">
        <li>Type de Filtre</li>
        <label>
            <input name="cumul" type="checkbox" {{ check }} onclick="this.form.submit()"/>
            <span>Filtres cumulatif (produit rouge et bleu) :</span>
        </label>

        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Catégories</div>
                <div class="collapsible-body">
                    {% for cat in cats %}
                        {% if catChecked is not empty and catChecked[cat.name] == "on" %}
                            {% set check = "checked=checked" %}
                        {% else %}
                            {% set check = "" %}
                        {% endif %}
                        <ul>
                            <li>
                                <label>
                                    <input name="{{ cat.name }}" type="checkbox" {{ check }} onclick="this.form.submit()"/>
                                    <span>{{ cat.name }}</span>
                                </label>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.Collapsible.init(document.querySelectorAll('.collapsible'));
    });
</script>
