<nav>
	<div class="nav-wrapper">
		<div class="primary-color row">
			<a href="{{ path('shoptastic') }}" class="left logo-size brand-logo" >
				<img class="logo-size" src="{{ asset('shoptastic/img/Logo.png') }}" alt="Foodtastic">
			</a>


			<div class="search-bar col offset-s5 s5 offset-m4 m7 offset-l2 l5">
				{{ render(controller('App\\Controller\\SearchController::searchBar')) }}
			</div>

			<div class="col s2 m1 l5">
				<a href="#" data-target="mobile-demo" class="navbar sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a class="navbar" href="{{ path('custom_easyadmin') }}">
								Admin Panel
								<i class="small material-icons right">bug_report</i>
							</a>
						</li>
					{% endif %}
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<li>
							<a class="navbar" href="{{ path('user_order') }}">
								Orders
								<i class="small material-icons right">
									format_list_bulleted
								</i>
							</a>
						</li>
						<li>
							<a class="navbar" href="{{ path('cart_index') }}">
								Cart
								<i class="small material-icons right">
									shopping_cart
								</i>
								{% if app.session.get("cart") %}
									<span class="new badge" data-badge-caption="">{{ app.session.get("cart")|length }}</span>

								{% endif %}
							</a>
						</li>
						<li>
							<a class="navbar" href="{{ path('user_show', {'id': app.user.id}) }}">
								Profil
								<i class="small material-icons right">account_circle</i>
							</a>
						</li>
						<li>
							<a class="navbar" href="{{ path('app_logout') }}">
								Logout
								<i class="small material-icons right">exit_to_app</i>
							</a>
						</li>
					{% else %}
						<li>
							<a class="navbar" href="{{ path('app_login') }}">
								Login
								<i class="small material-icons right">lock_open</i>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	{% if is_granted('ROLE_ADMIN') %}
		<li>
			<a class="navbar" href="{{ path('custom_easyadmin') }}">
				Admin Panel
				<i class="small material-icons right">bug_report</i>
			</a>
		</li>
	{% endif %}
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		<li>
			<a class="navbar" href="{{ path('user_order') }}">
				Orders
				<i class="small material-icons right">
					format_list_bulleted
				</i>
			</a>
		</li>
		<li>
			<a class="navbar" href="{{ path('cart_index') }}">
				Cart
				<i class="small material-icons right">shopping_cart</i>
				{% if app.session.get("cart") %}
					<span class="new badge" data-badge-caption="">{{ app.session.get("cart")|length }}</span>

				{% endif %}
			</a>
		</li>
		<li>
			<a class="navbar" href="{{ path('user_show', {'id': app.user.id}) }}">
				Profil
				<i class="small material-icons right">account_circle</i>
			</a>
		</li>
		<li>
			<a class="navbar" href="{{ path('app_logout') }}">
				Logout
				<i class="small material-icons right">exit_to_app</i>
			</a>
		</li>
	{% else %}
		<li>
			<a class="navbar" href="{{ path('app_login') }}">
				Login
				<i class="small material-icons right">lock_open</i>
			</a>
		</li>
	{% endif %}
</ul>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		M.Sidenav.init(document.querySelectorAll('.sidenav'));
	});
</script>
