<div class="card-panel">
    {% if app.user %}
            {% set first_time = true %}
            {% set display = false %}
            {% set quantity = 0 %}
            {% set key = 0 %}
            Votre Panier:<br/>
            {% for product in cart %}
                    {% if first_time %}
                            {% set first_time = false %}
                            {% set quantity = 1 %}
                    {% endif %}
                    {% if not loop.last %}
                            {% if product.id == cart[(loop.index0 + 1)].id %}
                                    {% set quantity = quantity + 1 %}
                            {% else %}
                                    {% set first_time = true %}
                                    {% set display = true %}
                                    {% set key = loop.index0 %}
                            {% endif %}
                    {% else %}
                            {% set display = true %}
                            {% set key = loop.index0 %}
                    {% endif %}
                    {% if display %}
                            {% set display = false %}

                            {{ product.name }} X {{ quantity }} <br/>
                            {% set quantity = 0 %}
                    {% endif %}
            {% endfor %}
            {% set total = 0 %}

            {% for product in cart %}

                {% set total = total + (product.price * 1.20) %}

            {% endfor %}

            total :{{ total }} €

    {% else %}
        Vous devez être <a href="{{ path('app_login') }}">connecter</a>  pour accèder au panier
        <br /><br />
        Pas encore de compte? <a href="{{ path('app_register') }}">Inscrivez-vous</a> vite !
    {% endif %}
</div>

