<br />
<div class="count">
    {{ pagination.getTotalItemCount }} produit(s) correspondant à votre recherche/filtre
</div>
<br />
<table class="striped highlight">
    <tbody>
    {% for product in pagination %}
        <tr>
            <td>
                <a href="{{ path('product_show', {'id': product.id}) }}">
                    <img src="{{ vich_uploader_asset(product, 'imageFile')}}" width="50px" height="50px" />
                </a>
            </td>
            <td><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></td>
            <td>
                {% set trunDesc =  product.description|truncate(100,false, " ...") %}
                <a href="{{ path('product_show', {'id': product.id}) }}">{{ trunDesc|raw }}</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" class="center-align">
                    Aucun produit n'a été trouvé
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="center-align navigation">
    {{ knp_pagination_render(pagination) }}
</div>