<div class="col">
    <form action="{{ path('cart_add', {'id_product': product.id}) }}">
        <input name="nbBuy" type="number" value="1" min="1" max="{{ product.stock }}">
        <button class="btn waves-effect waves-light" type="submit" name="action" >Ajouter au panier
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
