{% extends 'shoptastic.html.twig' %}

{% block title %}{{ parent() }} - {{ product.name }}{% endblock %}

{% block shoptastic %}
    <br/><br/><br/>
    <div class="container">
        <div class="row">
            <div class="col s3">
                <img src="{{ vich_uploader_asset(product, 'imageFile')}}" width="50%" height="50%">
            </div>

            <div class="col s6">
                <h3>{{ product.name }}</h3>
                <br />
                {% set trunDesc =  product.description|truncate(100,false, " ...") %}
                {{ trunDesc|raw }}
            </div>
            <div class="col s3">
                {% include 'product/right_bar.html.twig' with {'product': product} %}
            </div>
        </div>
        <div class="row">
            {{
            render(controller('App\\Controller\\ProductController::similarProduct',
                { 'product': product }))
            }}
        </div>
    </div>



{% endblock %}
