<div class="card-panel">
    <div class="carousel">
        {% for simProduct in products %}
            {% if simProduct.id != product.id %}
                <a class="carousel-item" href="{{ path('product_show', {'id': simProduct.id}) }}">
                    <img src="{{ vich_uploader_asset(simProduct, 'imageFile')}}">
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.Carousel.init(document.querySelectorAll('.carousel'));
    });
</script>