<div id="search">
    <div class="f-border">
        {{ form_start(form, { 'action': path('search'), 'attr': {'class': 'navbar-form navbar-left'} }) }}
        <div class="input-field">
            {{ form_widget(form.search, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
