<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">

		<title>{% block title %}Foodtastic{% endblock %}</title>
		<link rel="icon" href="{{ asset('shoptastic/img/favicon.ico') }}" />

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('materialize/css/materialize.min.css') }}">
			<link rel="stylesheet" href="{{ asset('shoptastic/css/shoptastic.css') }}">
			<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		{% endblock %}
		{% block script %}
			<script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
			<script src="{{ asset('shoptastic/js/jquery-3.2.1.min.js') }}"></script>
			<script>
				M.AutoInit();
			</script>
		{% endblock %}
    </head>
	<body>
		<main class="body-color">
			<header>
				{% block nav %}
					{% include 'shoptastic/nav.html.twig' %}
				{% endblock %}
			</header>
			{% block shoptastic %}

			{% endblock %}
		</main>
		<footer class="page-footer primary-color">
			{% block footer %}
				{% include 'shoptastic/footer.html.twig' %}
			{% endblock %}
		</footer>
	</body>
</html>
