{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'shoptastic.html.twig' %}

{% block foodtastic %}
    <h1>Not Found</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('shoptastic') }}">return to the homepage</a>.
    </p>
{% endblock %}