{% extends 'shoptastic.html.twig' %}

{% block title %}{{ parent() }} - Edition {{ app.user.username }}{% endblock %}

{% block shoptastic %}
    {% set Allergies = "" %}

    {% for allergie in user.allergies %}
        {% set Allergies = Allergies ~ ", " ~ allergie %}
        {% set Allergies = Allergies|slice(1, Allergies|length )%}
    {% endfor %}

    {% set Diets = "" %}

    {% for diet in user.diet %}
        {% set Diets = Diets ~ ", " ~ diet %}
        {% set Diets = Diets|slice(1, Diets|length )%}
    {% endfor %}

    {% set Fcheck = "" %}
    {% set Mcheck = "" %}

    {% if user.sex %}
        {% set Fcheck = "checked" %}
    {% else %}
        {% set Mcheck = "checked" %}
    {% endif %}
<div class="row">
    <div class="col s10 offset-s1 z-depth-4 card-panel">
            <br>
            {{ form_start(form, { 'action': path('user_edit', {'id': app.user.id})}) }}
                <div class="row">
                    <div class="col s6 offset-s3">
                        <p class="center">Mettre à jour mon profil</p>
                    </div>
                </div>

                {% for label, messages in app.session.flashBag %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% if error is defined %}
                    <div class="row">
                        <div class="col s4 offset-s4 red z-depth-4 card-panel">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col s5">
                        <label for="firstname">First Name :
                            <input type="text" value="{{ user.firstName }}" />
                        </label>
                    </div>
                    <div class="col s5 offset-s2">
                        <label for="lastName">Last Name :
                            <input type="text" value="{{ user.lastName }}" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5">
                        <label for="birthday">Birthday:
                            <input type="text" value="{{ user.birthday|date('d/m/y') }}" />
                        </label>
                    </div>
                    <div class="col s5 offset-s2">
                        <label for="register">Register At :
                            <input type="text" value="{{ user.registerAt|date('d/m/y') }}" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <br/>
                    <div class="col s5">
                        <label for="sex">Sex:<br />
                            <input type="radio" class="with-gap" name="sex" {{ Fcheck }}>
                            <span>Female</span>

                            <input type="radio" class="with-gap" name="sex" {{  Mcheck }}>
                            <span>Male</span>
                        </label>
                    </div>
                    <div class="col s5 offset-s2">
                        <label for="address">Address :
                            <input type="text" value="{{ user.address }}" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5">
                        <label for="allergies">Allergies:
                            <input type="text" value="{{ Allergies }}" />
                        </label>
                    </div>
                    <div class="col s5 offset-s2">
                        <label for="diets">Diets :
                            <input type="text" value="{{ Diets }}" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5 ">
                        <label for="allergies">Email:
                            {{ form_widget(form.email) }}
                        </label>
                    </div>
                    <div class="col s5 offset-s2">
                        <label for="diets">Username :
                            {{ form_widget(form.username) }}
                        </label>
                    </div>
                </div>

                {{ form_widget(form.password) }}

                <div class="row">
                    <div class="col s4 offset-s2">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Mettre à jour
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>

            {{ form_end(form) }}

        <div class="col s4 offset-s2">
            <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                <button class="btn">Delete</button>
            </form>
        </div>

        </div>
    </div>
</div>




{% endblock %}
