{% extends 'shoptastic.html.twig' %}

{% block title %}

{% endblock %}

{% set order_id_prev = -1 %}
{% set order_id = 0 %}
{% set first_time = true %}

{% block shoptastic %}
    <br />
    <div class="row">
        <div class="col s8 offset-s2">
            <table class="centered striped highlight">
                <thead>
                    <tr>
                        <td align="center">
                            Numéro de commande
                        </td>
                        <td align="center">
                            Produit
                        </td>
                        <td align="center">
                            Quantité
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders_list %}
                    <tr>
                        <td>
                        {% if order_id_prev != order[0]|trim('oid_', 'left') %}
                            {% if not first_time %}
                </tbody>
            </table>
        </div>
    </div>
                                <br />
                                <br />
    <div class="row">
        <div class="col s8 offset-s2">
            <table class="centered striped highlight">
                <thead>
                    <tr>
                        <td align="center">
                            Numéro de commande
                        </td>
                        <td align="center">
                            Produit
                        </td>
                        <td align="center">
                            Quantité
                        </td>
                    </tr>
                    </thead>
                        <tr>
                            <td>
                            {% endif %}
                            {{ order[0]|trim('oid_', 'left') }}<br />
                        {% endif %}
                        </td>
                        <td>
                        {{ order[1].name }}<br />
                        </td>
                        <td>
                        {{ order[2] }}<br /><br />
                        </td>
                    </tr>
                        {% set order_id_prev = order[0]|trim('oid_', 'left') %}

                        {% set first_time = false %}
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

