{% extends 'shoptastic.html.twig' %}

{% block title %}{{ parent() }} - S'enregister chez Foodtastic {% endblock %}

{% block shoptastic %}
    <div class="row">
        <div class="col s6 offset-s3 z-depth-4 card-panel">
            <div class="row">
                <br>
                {{ form_start(form, { 'action': path('app_register')}) }}
                    <div class="row">
                        <div class="col s6 offset-s3">
                            <p class="center">S'incrire</p>
                        </div>
                    </div>

                    {% for label, messages in app.session.flashBag %}
                        {% for message in messages %}
                            <div class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% if error is defined %}
                        <div class="row">
                            <div class="col s4 offset-s4 red z-depth-4 card-panel">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="input-field col s4 offset-s1">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="input-field col s4 offset-s2">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 offset-s1">
                            {{ form_row(form.password.first) }}
                        </div>
                        <div class="input-field col s4 offset-s2">
                            {{ form_row(form.password.second) }}
                        </div>
                    </div>
                    <div class="col s4 offset-s5">
                        <button class="btn waves-effect waves-light" type="submit" name="action">S'inscrire
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>




{% endblock %}
