{% extends 'shoptastic.html.twig' %}

{% block title %}{{ parent() }} - {{ app.user.username }}{% endblock %}

{% block shoptastic %}


    {% set Allergies = "" %}

    {% for allergie in user.allergies %}
        {% set Allergies = Allergies ~ ", " ~ allergie %}
        {% set Allergies = Allergies|slice(1, Allergies|length )%}
    {% endfor %}

    {% set Diets = "" %}

    {% for diet in user.diet %}
        {% set Diets = Diets ~ ", " ~ diet %}
        {% set Diets = Diets|slice(1, Diets|length )%}
    {% endfor %}

    {% set Fcheck = "" %}
    {% set Mcheck = "" %}

    {% if user.sex %}
        {% set Fcheck = "checked" %}
    {% else %}
        {% set Mcheck = "checked" %}
    {% endif %}
    <br />


    <div class="z-depth-4 container" style="height: 350px;">
        <div class="card" style="overflow: visible; height: 100%;">
            <div class="card-image waves-effect waves-block waves-light gravatar-image">
                <img src="https://www.gravatar.com/avatar/{{ hash }}?size=200" class="activator gravatar-image" alt="Gravatar">
            </div>
            <input readonly class="center" type="text" value="{{ user.firstName }} '{{ user.username }}' {{ user.lastName }}" />

            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                <span class="card-title grey-text text-darken-4">Mon Profil<i class="material-icons right">close</i></span>
                <a class='dropdown-trigger right' href='#' data-target='options'><i class="material-icons right">more_vert</i></a>

                <p>
                    <div class="row">
                        <div class="col s5">
                            <label for="firstname">First Name :
                                <input readonly type="text" value="{{ user.firstName }}" />
                            </label>
                        </div>
                        <div class="col s5 offset-s2">
                            <label for="lastName">Last Name :
                                <input readonly type="text" value="{{ user.lastName }}" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s5">
                            <label for="birthday">Birthday:
                                <input readonly type="text" value="{{ user.birthday|date('d/m/y') }}" />
                            </label>
                        </div>
                        <div class="col s5 offset-s2">
                            <label for="register">Register At :
                                <input readonly type="text" value="{{ user.registerAt|date('d/m/y') }}" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                        <div class="col s5">
                            <label for="sex">Sex:<br />
                                <input readonly type="radio" class="with-gap" name="sex" {{ Fcheck }}>
                                <span>Female</span>

                                <input readonly type="radio" class="with-gap" name="sex" {{  Mcheck }}>
                                <span>Male</span>
                            </label>
                        </div>
                        <div class="col s5 offset-s2">
                            <label for="address">Address :
                                <input readonly type="text" value="{{ user.address }}" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s5">
                            <label for="allergies">Allergies:
                                <input readonly type="text" value="{{ Allergies }}" />
                            </label>
                        </div>
                        <div class="col s5 offset-s2">
                            <label for="diets">Diets :
                                <input readonly type="text" value="{{ Diets }}" />
                            </label>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>


<ul id='options' class='dropdown-content'>
    <li><a href="{{ path('user_edit', {'id': app.user.id}) }}"><i class="material-icons">edit</i>Editer</a></li>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.Dropdown.init(document.querySelectorAll('.dropdown-trigger'));
    });
</script>

{% endblock %}